* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
}
  
html {
    font-size: 62.5%;
}
  
@media screen and (min-width: 0px) and (max-width: 5000px) {
    html {
      font-size: 0.625vw;
    }
}
/*ここからヘッダー*/


header {
    background-color: rgb(196, 196, 196);
    width: 100vw;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
}

a.logo {
    cursor: default;
}
  
.logo img {
    width: 33%;
    height: 100px;
    cursor: pointer;
}
  
.fa-caret-down {
    padding-left: 1%;
    width: 10px;
}

ul.drop-downs li a{
    line-height: 40px;
    padding: 15px;
    color:  rgb(131, 131, 131);
}

ul.drop-downs li a:hover{
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.navbar a {
    font-size: 1.9rem;
    line-height: 100px;
    text-decoration: none;
    padding: 42px;
    color: black;
}

.pc ul a:hover {
    background-color: black;
    color: white;
}

.navbar ul li{
    display: inline-block;
    position: relative;
    text-align: right;
}
    
.navbar ul li.dropdown ul {
    background-color:  rgb(196, 196, 196);
    position: absolute;
    display: none;
    width: 100%;
}
  
.navbar ul li.dropdown:hover ul {
  display: block;
}

/*ここからハンバーガー*/

/*３本線を押すと出てくるメニュー*/

@media(max-width:1024px) {
    .body {
        position: relative;
    }
    ul.gnav {
        position: absolute;
        right: -500px;
        height: 60vh;
        top: 100px;
        transition: .5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;

    }

    ul.gnav.active {
        position: absolute;
        right: 0px;
        width: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }


    .navbar ul li{
        position: unset;
    }

    .navbar ul li.dropdown ul {
        background-color:  rgba(196, 196, 196, 0);
        position: unset;
        display: block;
        padding: 0;
        }

    .pc ul a:hover {
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
    }

    .pc ul  {
        background-color: rgb(196, 196, 196);
        color: rgb(0, 0, 0);
        padding: 0 40px 0 20px;
        text-align: left;
    }

    .pc ul a {
        font-weight: bold;
        font-size: 3rem;
    }

    ul.drop-downs li a::before{
        content:'・';
    }

    ul.drop-downs li a{
        line-height: 50px;
        color:  rgb(0, 0, 0);
        padding: 0 0 0 73px;
        font-weight: lighter;

    }

    .navbar a {
        line-height: 50px;
        padding: 0px;
    }

    i.fas.fa-caret-down::before {
        display: none;
    }

    i.fas {
        display: none;
    }
}


/*ここからハンバーガーの３本線*/

div.toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 42px;
    height: 42px;
    z-index: 3;
    display: none;
}

@media(max-width:1024px) {
    div.toggle {
        display: block;
    }
}

.toggle span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px rgb(0, 0, 0);
    transition: .3s ease-in-out;
    left: 6px;
}

.toggle span:nth-child(1){
    top: 9px;
}

.toggle span:nth-child(2){
    top: 18px;
}

.toggle span:nth-child(3){
    top: 27px;
}

.toggle.active span:nth-child(1){
    top: 18px;
    left: 6px;
    transform: rotate(-45deg);
}

.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3){
    top: 18px;
    transform: rotate(45deg);
}


@media(max-width:1024px) {
    .logo img {
        width: 35%;
    }

    div.toggle {
        top: 20px;
        right: 40px;
        width: 42px;
    }
    
    .toggle span {
        width: 55px;
        border-bottom: solid 5px rgb(0, 0, 0);
    }

    .toggle span:nth-child(1){
        top: 12px;
    }
    
    .toggle span:nth-child(2){
        top: 28px;
    }
    
    .toggle span:nth-child(3){
        top: 44px;
    }
}

@media(max-width:768px) {
    ul.gnav.active {
        height: 52vh;
    }
    .pc ul a {
        font-size: 4rem;
    }
    ul.drop-downs li a{
        padding: 0 0 0 71px;
    }
}

@media(max-width:414px) {
    .logo img {
        width: 42%;
        height: 75px;
    }
    header {
        height: 75px;
    }
    ul.gnav {
        top: 75px;
    }
    .navbar a {
        line-height: 30px;
    }
    ul.drop-downs li a{
        line-height: 30px;
        padding: 0 0 0 53px;
    }
    ul.gnav.active {
        height: 48vh;
    }
    .pc ul a {
        font-size: 6rem;
    }
    ul.gnav {
        height: 80vh;
    }

    div.toggle {
        top: 11px;
        right: 7px;
        width: 45px;
    }
    
    .toggle span {
        width: 32px;
        border-bottom: solid 3px rgb(0, 0, 0);
    }

    .toggle span:nth-child(1){
        top: 12px;
    }
    
    .toggle span:nth-child(2){
        top: 21px;
    }
    
    .toggle span:nth-child(3){
        top: 30px;
    }

}

@media(max-width:320px) {
    .logo img {
        width: 45%;
        height: 65px;
    }
    header {
        height: 65px;
    }
    ul.gnav {
        top: 65px;
    }
    ul.gnav.active {
        height: 56vh;
    }
    ul.drop-downs li a {
        padding: 0px 0 0 45px;
    }

    div.toggle {
        top: 10px;
    }
}

/*ここまでヘッダー*/

/*ここからトップ*/

.top {
  height: 100vh;
  background-color: white;
  background-size: cover;
  width:100vw;
  position: relative;
}

.top h1 {
    position: absolute;
    color: black;
    font-size: 18rem;
    top: 29%;
    left: 9%;
    line-height: 135px;
    font-family: 'Playfair Display', serif;
}

.white {
    color: rgb(255, 255, 255);
}

.top-line {
    position: absolute;
    top: 68%;
    left: 10%;
    width: 15%;
}

.top p {
    width: 25%;
    position: absolute;
    font-size: 2rem;
    color: black;
    top: 73%;
    left: 10%;
}

.low-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    z-index: 1;
}

.top-object {
    z-index: 1;
    display: grid;
    grid-template: "";
}

/*ここからグリット*/

.parent { 
    display: grid; 
    grid-template-columns: repeat(9, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    position: absolute;
    right: 0;
    top: 20%;
    width:63%;
    height: 73%;
    z-index: 1;
}

.div1 { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 1 / 1 / 3 / 3;
    background-image: url(img/grass.jpg);
} 

.div2 { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 1 / 3 / 3 / 5; 
    background-image: url(img/walter-art.jpg);
} 

.div3 { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 1 / 7 / 5; 
    background-image: url(img/city-light.jpg);
} 

.div4 { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 1 / 8 / 3 / 10; 
    background-image: url(img/tpkyo.jpg);
} 

.div5 { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 8 / 5 / 10; 
    background-image: url(img/white-art.jpg);
} 

.div6 { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 5 / 8 / 7 / 10; 
    background-image: url(img/mountain.jpg);
} 

.div7 { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 1 / 5 / 4 / 8; 
    background-image: url(img/the-paris.jpg);

} 

.div8 { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 4 / 5 / 7 / 8; 
    background-image: url(img/snow.jpg);
} 

@media(max-width:1024px) {
    .top h1 {
        font-size: 22rem;
        top: 40%;
        left: 3%;
    }
    .top-line {
        left: 5%;
        width: 24%;
    }
    
    .top p {
        width: 31%;
        font-size: 4rem;
        left: 5%;
    }
}

@media(max-width:414px) {
    .top h1 {
    top: 47%;
    line-height: 78px;
    }
    .parent { 
        height: 57%;
        top: 28%;
    }
    .top p {
        width: 33%;
        font-size: 5rem;
    }
}

@media(max-width:320px) {
    .top h1 {
        line-height: 55px;
    }
}
/*ここまでグリット*/


/*ここからAbout*/

.items {
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.items h2 {
    font-family: 'Playfair Display', serif;
    font-size: 9rem;
    padding: 5% 0 0 0;
}

.items h3 {
    font-size: 2.3rem;
    font-weight: lighter; 
    padding-bottom: 4%;
}

.black-bgi {
    position: absolute;
    right: 0;
    top: 600px;
    width: 30%;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: left;
}

.container .card {
    background: rgb(255, 255, 255);
    flex-direction: column;
    max-width: 25%;
    box-shadow: 6px 3px 8px 0px rgba(0, 0, 0, .5);
    margin-bottom: 50px;
}

.container .card .imgBx img{
    max-width: 100%;
}

.card h4 {
    font-size: 4rem;
    padding: 5% 0 0 7%;
}

.card-line {
    width: 22%;
    margin: 10px 0 0 30px;
}

.content p {
    font-size: 1.7rem;
    font-weight: lighter; 
    padding: 5% 7% 6% 7%;
    line-height: 23px;
}

@media(max-width:1024px) {
    .items h2 {
        font-size: 12rem;
    }
    
    .items h3 {
        font-size: 3.3rem;
    }

    .container .card {
        max-width: 30%;
        box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, .5);
    }

    .black-bgi {
        top: 485px;
    }
}

@media(max-width:414px) {
    .items h2 {
        font-size: 16rem;
    }

    .items h3 {
        font-size: 5.3rem;
    }

    .container {
        display: block;
    }

    .container .card {
        max-width: 77%;
        box-shadow: 6px 3px 8px 0px rgba(0, 0, 0, .5);
        margin: 0 auto 50px auto;
    }

    .black-bgi {
        top: 1333px;
    }

    .card h4 {
        font-size: 11rem;
    }

    .content p {
        font-size: 5rem;
    }
}

@media(max-width:320px) {
    .black-bgi {
        top: 1137px;
    }
}

/*ここまでAbout*/

/*ここからService*/

.service-p {
    font-size: 4rem;
    margin: 2% auto 3% auto;
    font-weight: bold;
    width: 50%;
}

.service-line {
    width:45%;
    margin: auto;
}

.service-sub-p {
    width: 47%;
    font-size: 1.6rem;
    margin: auto;
    text-align: left;
    line-height: 30px;
}

.flex1 {
    margin: 10% 0 15% 0;
    display: flex;
    flex-flow: row-reverse;
}

.flex-text {
    flex-basis: 40%;
}

.flex-text h5 {
    text-align: left;
    font-size: 4rem;
    width: 60%;
    margin: 50% 0% 8% 15%;
}

.flex-text p {
    text-align: left;
    font-size: 2rem;
    width: 60%;
    margin: 0% 0% 0% 15%;
}

.flex-img {
    flex-basis: 60%;
}

.flex1-img {
    width: 100%;
}

.flex2 {
    margin: 10% 0 15% 0;
    display: flex;
}

@media(max-width:1024px) {
    .service-sub-p {
        font-size: 2.6rem;
    }

    .flex-text h5 {
        font-size: 5rem;
        width: 75%;
        margin: 0% 0% 8% 15%;
    }

    .flex-text p {
        font-size: 3rem;
        width: 75%;
    }
}

@media(max-width:414px) {
    .service-p {
        font-size: 6rem;
        width: 80%;
    }

    .service-sub-p {
        font-size: 4.8rem;
        width: 80%;
        padding: 4%;
    }

    .flex1, .flex2 {
        display: flex;
        flex-flow: row-reverse;
        flex-direction: column-reverse;
    }

    .flex1-img {
        width: 90%;
    }

    .flex-text h5 {
        font-size: 7rem;
        width: 75%;
        margin: 3% auto 3% auto;
    }
    .flex-text p {
        font-size: 4.8rem;
        width: 75%;
        margin: auto;
        line-height: 30px;
    }
}

@media(max-width:320px) {
    .service-p {
        font-size: 7rem;
        width: 85%;
    }

    .service-sub-p {
        font-size: 5.5rem;
        width: 85%;
    }

    .flex-text h5 {
        font-size: 8rem;
        width: 85%;
    }

    .flex-text p {
        font-size: 5.8rem;
        width: 85%;
    }
}


/*ここまでサービス*/

/*ここからコンタクトボタン*/

.contact-btn {
    margin: 16% 0;
}

.contact-btn a {
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 3rem;
    padding: 40px 98px;
    white-space: nowrap;
    text-decoration: none;
    border: 1px solid white;
}

.contact-btn a:hover .fa-arrow-right{
    transition-duration: 1s;
    transition-timing-function: ease;
    transform: translatex(15px)
}

.fa-arrow-right{
    transition-duration: 1s;
    transition-timing-function: ease;
    transform: translatex(-15px)
}

@media(max-width:414px) {
    .contact-btn a {
        font-size: 6rem;
        padding: 30px 67px;
    }
}
