* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
}
  
html {
    font-size: 62.5%;
}
  
@media screen and (min-width: 0px) and (max-width: 5000px) {
    html {
      font-size: 0.625vw;
    }
}
/*ここからヘッダー*/


header {
    background-color: rgb(196, 196, 196);
    width: 100vw;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
}

a.logo {
    cursor: default;
}
  
.logo img {
    width: 33%;
    height: 100px;
    cursor: pointer;
}
  
.fa-caret-down {
    padding-left: 1%;
    width: 10px;
}

ul.drop-downs li a{
    line-height: 40px;
    padding: 15px;
    color:  rgb(131, 131, 131);
}

ul.drop-downs li a:hover{
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.navbar a {
    font-size: 1.9rem;
    line-height: 100px;
    text-decoration: none;
    padding: 42px;
    color: black;
}

.pc ul a:hover {
    background-color: black;
    color: white;
}

.navbar ul li{
    display: inline-block;
    position: relative;
    text-align: right;
}
    
.navbar ul li.dropdown ul {
    background-color:  rgb(196, 196, 196);
    position: absolute;
    display: none;
    width: 100%;
}
  
.navbar ul li.dropdown:hover ul {
  display: block;
}

/*ここからハンバーガー*/

/*３本線を押すと出てくるメニュー*/

@media(max-width:1024px) {
    .body {
        position: relative;
    }
    ul.gnav {
        position: absolute;
        right: -500px;
        height: 60vh;
        top: 100px;
        transition: .5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;

    }

    ul.gnav.active {
        position: absolute;
        right: 0px;
        width: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }


    .navbar ul li{
        position: unset;
    }

    .navbar ul li.dropdown ul {
        background-color:  rgba(196, 196, 196, 0);
        position: unset;
        display: block;
        padding: 0;
        }

    .pc ul a:hover {
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
    }

    .pc ul  {
        background-color: rgb(196, 196, 196);
        color: rgb(0, 0, 0);
        padding: 0 40px 0 20px;
        text-align: left;
    }

    .pc ul a {
        font-weight: bold;
        font-size: 3rem;
    }

    ul.drop-downs li a::before{
        content:'・';
    }

    ul.drop-downs li a{
        line-height: 50px;
        color:  rgb(0, 0, 0);
        padding: 0 0 0 73px;
        font-weight: lighter;

    }

    .navbar a {
        line-height: 50px;
        padding: 0px;
    }

    i.fas.fa-caret-down::before {
        display: none;
    }

    i.fas {
        display: none;
    }
}


/*ここからハンバーガーの３本線*/

div.toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 42px;
    height: 42px;
    z-index: 3;
    display: none;
}

@media(max-width:1024px) {
    div.toggle {
        display: block;
    }
}

.toggle span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px rgb(0, 0, 0);
    transition: .3s ease-in-out;
    left: 6px;
}

.toggle span:nth-child(1){
    top: 9px;
}

.toggle span:nth-child(2){
    top: 18px;
}

.toggle span:nth-child(3){
    top: 27px;
}

.toggle.active span:nth-child(1){
    top: 18px;
    left: 6px;
    transform: rotate(-45deg);
}

.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3){
    top: 18px;
    transform: rotate(45deg);
}


@media(max-width:1024px) {
    .logo img {
        width: 35%;
    }

    div.toggle {
        top: 20px;
        right: 40px;
        width: 42px;
    }
    
    .toggle span {
        width: 55px;
        border-bottom: solid 5px rgb(0, 0, 0);
    }

    .toggle span:nth-child(1){
        top: 12px;
    }
    
    .toggle span:nth-child(2){
        top: 28px;
    }
    
    .toggle span:nth-child(3){
        top: 44px;
    }
}

@media(max-width:768px) {
    ul.gnav.active {
        height: 52vh;
    }
    .pc ul a {
        font-size: 4rem;
    }
    ul.drop-downs li a{
        padding: 0 0 0 71px;
    }
}

@media(max-width:414px) {
    .logo img {
        width: 42%;
        height: 75px;
    }
    header {
        height: 75px;
    }
    ul.gnav {
        top: 75px;
    }
    .navbar a {
        line-height: 30px;
    }
    ul.drop-downs li a{
        line-height: 30px;
        padding: 0 0 0 53px;
    }
    ul.gnav.active {
        height: 48vh;
    }
    .pc ul a {
        font-size: 6rem;
    }
    ul.gnav {
        height: 80vh;
    }

    div.toggle {
        top: 11px;
        right: 7px;
        width: 45px;
    }
    
    .toggle span {
        width: 32px;
        border-bottom: solid 3px rgb(0, 0, 0);
    }

    .toggle span:nth-child(1){
        top: 12px;
    }
    
    .toggle span:nth-child(2){
        top: 21px;
    }
    
    .toggle span:nth-child(3){
        top: 30px;
    }

}

@media(max-width:320px) {
    .logo img {
        width: 45%;
        height: 65px;
    }
    header {
        height: 65px;
    }
    ul.gnav {
        top: 65px;
    }
    ul.gnav.active {
        height: 56vh;
    }
    ul.drop-downs li a {
        padding: 0px 0 0 45px;
    }

    div.toggle {
        top: 10px;
    }
}

/*ここまでヘッダー*/

/*ここからトップ*/

.top {
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.top h1 {
    font-size: 9rem;
    padding: 13% 0 0 0;
    font-family: 'Playfair Display', serif;
}

div .top h2 span .h2 {
    font-family: unset;
}

.top h2 {
    font-size: 2.3rem;
    font-weight: lighter; 
    padding-bottom: 4%;
}

@media(max-width:1024px) {
    .top h1 {
        font-size: 11rem;
        padding: 19% 0 0 0;
    }
    .top h2 {
        font-size: 4.3rem;
        font-weight: lighter;
        padding-bottom: 4%;
    }
}

@media(max-width:414px) {
    .top h1 {
        font-size: 12rem;
        padding: 34% 0 0 0;
    }
    .top h2 {
        font-size: 5.5rem;
    }
}

@media(max-width:320px) {
    .top h1 {
        font-size: 13rem;
        padding: 39% 0 0 0;
    }
    .top h2 {
        font-size: 6.5rem;
    }
}

/*ここからコンテンツ*/

.top-container .top-card {
    display: flex;
    background: rgb(255, 255, 255);
    max-width: 84%;
    box-shadow: 6px 3px 8px 0px rgba(0, 0, 0, .5);
    margin-bottom: 50px;
    margin: 3% auto 5% auto;
}

.top-container .top-card .top-imgBx img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

.top-card h4 {
    font-size: 4rem;
    padding: 13% 0 0 7%;
    font-family: 'Playfair Display', serif;

}

.price2 {
    font-size: 1.7rem;
    font-weight: lighter; 
    padding-left: 25%;
}

.top-card-line {
    width: 22%;
    margin: 10px 0 0 30px;
}

.top-content p {
    font-size: 1.7rem;
    font-weight: lighter; 
    padding: 5% 7% 6% 7%;
    line-height: 23px;
}

@media(max-width:1024px) {
    .top-container .top-card {
        max-width: 80%;
    }
    .topcard h4 {
        font-size: 5rem;
    }

    .top-content p {
        font-size: 2rem;
    }
}

@media(max-width:414px) {
    .top-container .top-card {
        max-width: 90%;
        display: block;
        margin: 5% auto 15% auto;
    }
    .top-card h4 {
        font-size: 10rem;
    }
    
    .top-content p {
        font-size: 5rem;
        font-weight: lighter;
        padding: 5% 7% 6% 7%;
        line-height: 23px;
    }
}

@media(max-width:320px) {
    .top-container .top-card {
        margin: 8% auto 15% auto;
    }
    .topcontent p {
        font-size: 6rem;
    }
}

/*2個のアイテム*/

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: left;
    margin-bottom: 20%;
}

.container .card {
    background: rgb(255, 255, 255);
    flex-direction: column;
    max-width: 38%;
    box-shadow: 6px 3px 8px 0px rgba(0, 0, 0, .5);
    margin-bottom: 50px;
}

.container .card .imgBx img{
    max-width: 100%;
}

.card h4 {
    font-size: 4rem;
    padding: 5% 0 0 7%;
    font-family: 'Playfair Display', serif;
}

.card-line {
    width: 22%;
    margin: 10px 0 0 30px;
}

.content p {
    font-size: 1.7rem;
    font-weight: lighter; 
    padding: 5% 7% 6% 7%;
    line-height: 23px;
}

@media(max-width:1024px) {
    .container .card {
        max-width: 35%;
        box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, .5);
    }

    .black-bgi {
        top: 485px;
    }
}

@media(max-width:414px) {
    .container {
        display: block;
    }

    .container .card {
        max-width: 90%;
        box-shadow: 6px 3px 8px 0px rgba(0, 0, 0, .5);
        margin: 0 auto 50px auto;
    }

    .black-bgi {
        top: 1333px;
    }

    .card h4 {
        font-size: 11rem;
    }

    .content p {
        font-size: 5rem;
    }

    .price {
        font-size: 7.7rem;
    }
    
    .price2 {
        font-size: 7.7rem;
    }
}

@media(max-width:320px) {
    .container .card {
        box-shadow: 6px 3px 8px 0px rgba(0, 0, 0, .5);
        margin: 0 auto 50px auto;
    }
    .black-bgi {
        top: 1137px;
    }
}


/*ここからフッター*/

.footer1 {
    position: relative;
    width: 100vw;
    height: 250px;
    background-color: rgb(46, 46, 46);
}

.footer1 img{
    position: absolute;
    width: 23%;
    height: 50%;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.footer1 p{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sns {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.sns a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

.footer2 {
    width: 100vw;
    height: 190px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.footer2 p {
    color: white;
    white-space: nowrap;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:768px) {
    .footer1 img {
        width: 30%;
        height: 37%;
    }
}

@media(max-width:414px) {
    .footer1 {
        height: 198px;
    }
    
    .footer1 img {
        width: 46%;
        height: 37%;
        top: 23%;
        left: 50%;
    }
    
    .footer1 p {
        font-size: 3rem;
        top: 50%;
        left: 50%;
    }
    
    .sns {
        top: 79%;
        left: 50%;
    }
    
    .footer2 {
        height: 81px;
    }
}

